#kontainer_login {
	position: relative;
	padding-top: 50px;
}

#logo_indobayi {
	padding-top: 10px;
	padding-bottom: 5px;
	
}

#body_login {
	background-color: #F1F1F1;
}

#card_color {
	background-color: #3C8DBC;
}

#card_lofin {
	background-color: #388E3C;
}